<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
		"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>Request subscription modification</title>
</head>
<body>

<!-- ###TEMPLATE_FORM1### begin -->

<div class="tx-formhandler-subscription tx-formhandler-subscription-requestmodification">

	<h2>###LLL:legend###</h2>

	<p>###LLL:legend###</p>

	<form method="post" action="###REL_URL###" enctype="multipart/form-data" class="yform">

		###is_error###

		<fieldset class="csc-mailform">>

			<legend>###LLL:gender### ###required_gender###</legend>

			<div class="csc-mailform-field type-check ###is_error_gender###">
				###error_gender###
				<input type="radio" name="tx_formhandler_subscription[gender]" id="tx_formhandler_contact_firstname" value="###value_firstname###"/>
				<label for="tx_formhandler_contact_firstname">###LLL:firstname### </label>
			</div>

		</fieldset>

		<fieldset class="csc-mailform">>

			<div class="type-text">
				<div class="csc-mailform-field type-text ###is_error_email###">
					###error_email###
					<label for="tx_formhandler_contact_email">###LLL:email### ###required_email###</label>
					<input type="text" name="tx_formhandler_contact[email]" id="tx_formhandler_contact_email" value="###value_email###"/>
				</div>
			</div>

			<div class="csc-mailform-field type-button">
				<p>###LLL:required_fields###</p>
				<input type="submit" value="###LLL:submit###" ###submit_nextStep###/>
			</div>

		</fieldset>

	</form>

</div>

<!-- ###TEMPLATE_FORM1### end -->

<!-- ###TEMPLATE_SUBMITTEDOK### begin -->
<h2>>###LLL:required_fields###</h2>
<p>>###LLL:required_fields###</p>
<!-- ###TEMPLATE_SUBMITTEDOK### end -->

</body>
</html>