<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
		"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>Request subscription</title>
</head>
<body>

<!-- ###TEMPLATE_FORM1### begin -->

<div class="tx-formhandler-subscription tx-formhandler-subscription-requestsubscription">

	<p>###LLL:requestsubscription_info###</p>

	<form method="post" action="###REL_URL###" enctype="multipart/form-data" class="yform">

		###is_error###

		<fieldset class="csc-mailform">

			<legend>###LLL:gender### ###required_gender###</legend>

			<div class="csc-mailform-field type-check ###is_error_gender###">

				###error_gender###

				<div>
					<input id="tx_formhandler_requestsubscription_gender_m" type="radio" name="tx_formhandler_requestsubscription[gender]" value="m" ###checked_gender_m###/>
					<label for="tx_formhandler_requestsubscription_gender_m">###LLL:gender_male###</label>
				</div>

				<div>
					<input id="tx_formhandler_requestsubscription_gender_f"  type="radio" name="tx_formhandler_requestsubscription[gender]" value="f" ###checked_gender_f###/>
					<label for="tx_formhandler_requestsubscription_gender_f">###LLL:gender_female###</label>
				</div>
			</div>

		</fieldset>

		<fieldset class="csc-mailform">

			<legend>###LLL:legend_name###</legend>

			<div class="csc-mailform-field type-text ###is_error_first_name###">
				###error_first_name###
				<label for="tx_formhandler_requestsubscription_firstname">###LLL:first_name### ###required_first_name###</label>
				<input type="text" name="tx_formhandler_requestsubscription[first_name]" id="tx_formhandler_requestsubscription_firstname" value="###value_first_name###"/>
			</div>

			<div class="csc-mailform-field type-text ###is_error_last_name###">
				###error_last_name###
				<label for="tx_formhandler_requestsubscription_lastname">###LLL:last_name### ###required_last_name###</label>
				<input type="text" name="tx_formhandler_requestsubscription[last_name]" id="tx_formhandler_requestsubscription_lastname" value="###value_last_name###"/>
			</div>

		</fieldset>

		<fieldset class="csc-mailform">

			<legend>###LLL:legend_email###</legend>

			<div class="csc-mailform-field type-text ###is_error_email###">
				###error_email###
				<label for="tx_formhandler_requestsubscription_email">###LLL:email### ###required_email###</label>
				<input type="text" name="tx_formhandler_requestsubscription[email]" id="tx_formhandler_requestsubscription_email" value="###value_firstname###"/>
			</div>

		</fieldset>

		<fieldset class="csc-mailform">
			<legend>###LLL:legend_submit###</legend>
			<div class="csc-mailform-field type-button">
				<p>###LLL:required_fields###</p>
				<input type="submit" value="###LLL:submit###" ###submit_nextStep###/>
			</div>
		</fieldset>

	</form>

</div>

<!-- ###TEMPLATE_FORM1### end -->

<!-- ###TEMPLATE_SUBMITTEDOK_NEW_SUBSCRIBER### begin -->
<p>You are a new subscriber.</p>
<!-- ###TEMPLATE_SUBMITTEDOK_NEW_SUBSCRIBER### end -->

<!-- ###TEMPLATE_SUBMITTEDOK_CONFIRMED_SUBSCRIBER### begin -->
<p>You already have a confirmed subscription.</p>
<!-- ###TEMPLATE_SUBMITTEDOK_CONFIRMED_SUBSCRIBER### end -->

<!-- ###TEMPLATE_SUBMITTEDOK_UNCONFIRMED_SUBSCRIBER### begin -->
<p>You already have an unconfirmed subscription.</p>
<!-- ###TEMPLATE_SUBMITTEDOK_UNCONFIRMED_SUBSCRIBER### end -->


</body>
</html>