<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
		"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>Update subscription</title>
</head>
<body>


<!-- ###TEMPLATE_FORM1### begin -->
<div class="tx-formhandler-subscription tx-formhandler-subscription-updatesubscription">

	<form id="tx_formhandler_subscription_updatesubscription_form" method="post" action="###REL_URL###" enctype="multipart/form-data" class="yform">

		###is_error###

		<fieldset class="csc-mailform">

			<legend>###LLL:gender### ###required_gender###</legend>

			<div class="csc-mailform-field type-check ###is_error_gender###">

				###error_gender###

				<div>
					<input id="tx_formhandler_updatesubscription_gender_m" type="radio" name="tx_formhandler_subscription[gender]" value="m" ###checked_gender_m###/>
					<label for="tx_formhandler_updatesubscription_gender_m">###LLL:gender_male###</label>
				</div>

				<div>
					<input id="tx_formhandler_updatesubscription_gender_f"  type="radio" name="tx_formhandler_subscription[gender]" value="f" ###checked_gender_f###/>
					<label for="tx_formhandler_updatesubscription_gender_f">###LLL:gender_female###</label>
				</div>
			</div>

		</fieldset>

		<fieldset class="csc-mailform">

			<legend>###LLL:legend_name###</legend>

			<div class="csc-mailform-field type-text ###is_error_first_name###">
				###error_first_name###
				<label for="tx_formhandler_updatesubscription_firstname">###LLL:first_name### ###required_first_name###</label>
				<input type="text" name="tx_formhandler_subscription[first_name]" id="tx_formhandler_updatesubscription_firstname" value="###value_first_name###"/>
			</div>

			<div class="csc-mailform-field type-text ###is_error_last_name###">
				###error_last_name###
				<label for="tx_formhandler_updatesubscription_lastname">###LLL:last_name### ###required_last_name###</label>
				<input type="text" name="tx_formhandler_subscription[last_name]" id="tx_formhandler_updatesubscription_lastname" value="###value_last_name###"/>
			</div>

		</fieldset>

		<fieldset class="csc-mailform">

			<legend>###LLL:legend_language### ###required_dmail_category###</legend>

			<p>###LLL:language_info###</p>

			<div class="csc-mailform-field type-check ###is_error_dmail_category###">
				###error_dmail_category###
				<div>
					<input type="checkbox" name="tx_formhandler_subscription[dmail_category][]" value="2"
						   id="tx_formhandler_updatesubscription_dmail_category_2" ###checked_dmail_category_2### />
					<label for="tx_formhandler_updatesubscription_dmail_category_2">###LLL:dmail_category_2###</label>
				</div>
				<div>
					<input type="checkbox" name="tx_formhandler_subscription[dmail_category][]" value="1"
						   id="tx_formhandler_updatesubscription_dmail_category_1" ###checked_dmail_category_1### />
					<label for="tx_formhandler_updatesubscription_dmail_category_1">###LLL:dmail_category_1###</label>
				</div>
			</div>

		</fieldset>

		<fieldset class="csc-mailform">
			<legend>###LLL:legend_submit###</legend>
			<div class="csc-mailform-field type-button">
				<p>###LLL:required_fields###</p>
				<input type="hidden" name="tx_formhandler_subscription[authCode]" value="###value_authCode###"/>
				<input type="hidden" name="tx_formhandler_subscription[uid]" value="###value_uid###"/>
				<input type="submit" value="###LLL:submit###" ###submit_nextStep###/>
			</div>
		</fieldset>

	</form>

</div>
<!-- ###TEMPLATE_FORM1### end -->


</body>
</html>